/*!
  Compressed output contains normalize.css as well as styles for
  novemberborn.net.
*/

@import "./normalize.css";

body {
  padding: 0 1rem 1rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333;
}

.root {
  margin: 0 auto;
  max-width: 28rem;
  min-width: 150px;
}

h1 {
  font-weight: normal;
  margin: 1rem 0;
}

.portrait {
  width: 100%;
}

.project-detail {
  position: relative;
  margin-top: 7.5rem;
}

.project-detail::before {
  content: " ";
  position: absolute;
  top: -2.5rem;
  left: 10%;
  width: 80%;
  border-bottom: 1px solid #ccc;
}

.project-detail h1 {
  text-align: center;
}
